body{
    background-color:wheat;
}
.container-fluid{
    width: 75%;   border: 5px solid orange; border-radius:5px;
     padding: 30px 30px 10px 30px;background-color: tan;
}
.box1{
   // background-color: yellowgreen;
}
.box2{
  height="500" width="1200"; overflow: hidden;
}
.box3{
 // background-color: #1b6d85;
}
.contact-form{
    
}
.box4{
  //  background-color: gray;
}
.box5{
 //   background-color: green;
}
.box6{
  //  background-color:black;
}
.box7{
//    background-color: blue;
}
.box8{
//    background-color: blueviolet;
}
.box9{
    //background-color: red;
}
.box10{
   // background-color: royalblue;
}
.box11{
    //background-color: yellow;
}
.box12{
  //  background-color: tomato;
}
.box13{
//    background-color: turquoise;
}
.navbar{
    border: 0px;
}
.nav navbar-nav{
    
}
